from datetime import datetime  # Para trabalhar com datas e horas (ex: pegar a data/hora atual)

from nltk.sentiment import SentimentIntensityAnalyzer  # Analisador de sentimento da biblioteca NLTK

import nltk  # Biblioteca de processamento de linguagem natural (Natural Language Toolkit)

import os  # Permite interagir com o sistema operacional (ex: manipular arquivos e diretórios)

from selenium import webdriver  # Para controlar navegadores via automação (WebDriver)

from selenium.webdriver.common.by import By  # Para localizar elementos na página (ex: por ID, classe, etc.)

from selenium.webdriver.common.keys import Keys  # Para simular pressionamento de teclas no navegador

from selenium.webdriver.chrome.service import Service  # Para configurar o serviço do driver do Chrome

import time  # Permite pausas/esperas no código (ex: time.sleep)
